:root {
    --color-black:#000000;
    --color-white:#ffffff;

    --color-primary:#003569;
    --color-secondary:#ff9478;
    --color-tertiary:#f03434;
    --color-quaternary:#36d7b7;
}

$font-primary: "Roboto", sans-serif;
